:root {
    --text: whitesmoke;
    --background: #222;
    --header-background: #2c3034;
    --text-schedule-title: #bb86fc;
    --text-schedule-text: #03dac5;
}

body, a, span, nav.footer, table, tr, td, th {
    color: var(--text) !important;
    background-color: var(--background) !important;
}

.course-content *, footer#page-footer.bg-dark, .popover-header, .popover-body, .forumng-post.forumng-read {
    color: var(--text) !important;
    background-color: var(--background) !important;
}

div, section {
    background-color: var(--background) !important;
}

body input, body div, body select {
    border-color: white !important;
}

input, select {
    background-color: #505967 !important;
    color: white !important;
}

.navbar, .navbar * {
    background-color: var(--header-background) !important;
    color: var(--text) !important;
}

a, h1, h2, h3, h4, .scheduale-area > h5, b {
    color: var(--text) !important;
}
.dimmed_text:link {
    color: #AAA !important;
}

#page-header div.d-flex {
    border: white 0.1rem solid;
    border-radius: 16px !important;;
    padding: 0.5rem;
    margin-top: 0.4rem
}

#page-header div.flex-wrap {
    background-image: none !important;
    background-color: transparent !important;
}


h5, h6 {
    color: black !important;
}


#frame2-page, .card.mb-3 {
    border: white 0.1rem solid;
    border-radius: 16px !important;;
    padding: 0.5rem
}

.card-title {
    background-image: none !important;
    background-color: transparent !important;
    color: white !important;
}

.scheduale-table th {
    background-color: var(--header-background) !important;
    color: var(--text-schedule-title) !important;
    border-color: white !important;
}

.scheduale-area {
    border-color: white !important;
}

.scheduale-table td {
    background-color: var(--background) !important;
    color: var(--text-schedule-text) !important;
    border-color: white !important;
}
